#area{
    background: linear-gradient(white, grey);
    margin:10px;
    color:white;
    margin-left:150px;
    border: 15px ridge goldenrod;
}

#bg{
    background: linear-gradient(pink, magenta);
}

h5, h4{
    color:white;
}

.A1{
    height:493px;
}

.d1{
    background:linear-gradient(cyan, lime);
    box-shadow: 0px 5px 0px 20px;
    margin-bottom:40px;
}

.d1:hover{
    background: linear-gradient(cyan, blue);
}

#area:hover{
    height:550px;
    width:550px;
}
